<h1>Pharmacy</h1>
<hr>
<div class="container">
  <div class="container-branch">
    <table class="infobox">
      <caption class="infobox-title">Pharmacy</caption>
      <tbody>
      <tr>
        <td colspan="2" class="infobox-image"><a href="/wiki/File:PharmacistsMortar.svg" class="image">
          <img
            alt="PharmacistsMortar.svg"
            src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a7/PharmacistsMortar.svg/190px-PharmacistsMortar.svg.png"
            decoding="async" width="190" height="158"
            srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a7/PharmacistsMortar.svg/285px-PharmacistsMortar.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a7/PharmacistsMortar.svg/380px-PharmacistsMortar.svg.png 2x"
            data-file-width="601" data-file-height="499"></a></td>
      </tr>
      <tr>
        <th colspan="2" class="infobox-header">Occupation</th>
      </tr>
      <tr>
        <th scope="row" class="infobox-label">Names</th>
        <td class="infobox-data">Pharmacist, Chemist, Doctor of Pharmacy, Druggist, Apothecary or simply <i>Doctor</i>
        </td>
      </tr>
      <tr>
        <th scope="row" class="infobox-label">
          <div style="display:inline-block; line-height:1.2em; padding:0.1em 0;">Occupation type</div>
        </th>
        <td class="infobox-data"><a href="/wiki/Professional" title="Professional">Professional</a></td>
      </tr>
      <tr>
        <th scope="row" class="infobox-label">
          <div style="display:inline-block; line-height:1.2em; padding:0.1em 0;">Activity sectors</div>
        </th>
        <td class="infobox-data"><a href="/wiki/Health_care" title="Health care">Health care</a>, <a
          href="/wiki/Health_sciences" class="mw-redirect" title="Health sciences">health sciences</a>, <a
          href="/wiki/Chemical_sciences" class="mw-redirect" title="Chemical sciences">chemical sciences</a></td>
      </tr>
      <tr>
        <th colspan="2" class="infobox-header">Description</th>
      </tr>
      <tr>
        <th scope="row" class="infobox-label">
          <div style="display:inline-block; line-height:1.2em; padding:0.1em 0;">Education required</div>
        </th>
        <td class="infobox-data"><a href="/wiki/Doctor_of_Pharmacy" title="Doctor of Pharmacy">Doctor of Pharmacy</a>,
          <a href="/wiki/Master_of_Pharmacy" title="Master of Pharmacy">Master of Pharmacy</a>, <a
            href="/wiki/Bachelor_of_Pharmacy" title="Bachelor of Pharmacy">Bachelor of Pharmacy</a>, Diploma in Pharmacy
        </td>
      </tr>
      <tr>
        <th scope="row" class="infobox-label">
          <div style="display:inline-block; line-height:1.2em; padding:0.1em 0;">Related jobs</div>
        </th>
        <td class="infobox-data"><a href="/wiki/Physician" title="Physician">Physician</a>, <a
          href="/wiki/Pharmacy_technician" title="Pharmacy technician">pharmacy technician</a>, <a
          href="/wiki/Toxicologist" class="mw-redirect" title="Toxicologist">toxicologist</a>, <a href="/wiki/Chemist"
                                                                                                  title="Chemist">chemist</a>,
          pharmacy assistant, other <a href="/wiki/Medical_specialist" class="mw-redirect" title="Medical specialist">medical
            specialists</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p>Pharmacy is the clinical health science that links medical science with chemistry and it is charged with the
      discovery, production, disposal, safe and effective use, and control of medications and drugs. The practice of
      pharmacy requires excellent knowledge of drugs, their mechanism of action, side effects, interactions, mobility
      and toxicity. At the same time, it requires knowledge of treatment and understanding of the pathological process.
      Some specialties of pharmacists, such as that of clinical pharmacists, require other skills, e.g. knowledge about
      the acquisition and evaluation of physical and laboratory data.</p>
    <p>
      The scope of pharmacy practice includes more traditional roles such as compounding and dispensing of medications,
      and it also includes more modern services related to health care, including clinical services, reviewing
      medications for safety and efficacy, and providing drug information. Pharmacists, therefore, are the experts on
      drug therapy and are the primary health professionals who optimize the use of medication for the benefit of the
      patients.
    </p>
    <p>
      An establishment in which pharmacy (in the first sense) is practiced is called a pharmacy (this term is more
      common in the United States) or a chemist's (which is more common in Great Britain, though pharmacy is also
      used)[citation needed]. In the United States and Canada, drugstores commonly sell medicines, as well as
      miscellaneous items such as confectionery, cosmetics, office supplies, toys, hair care products and magazines, and
      occasionally refreshments and groceries.
    </p>
    <p>
      In its investigation of herbal and chemical ingredients, the work of the apothecary may be regarded as a precursor
      of the modern sciences of chemistry and pharmacology, prior to the formulation of the scientific method.
    </p>
  </div>
</div>
<h1>Disciplines</h1>
<hr>
<div class="container">
  <div class="container-branch">
    <div class="thumbinner" style="width:222px;">
      <img alt=""
           src="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/42-aspetti_di_vita_quotidiana%2C_medicine%2C_Taccuino_Sanitatis.jpg/220px-42-aspetti_di_vita_quotidiana%2C_medicine%2C_Taccuino_Sanitatis.jpg"
           decoding="async"
           width="220"
           height="260"
           class="thumbimage"
      >
      <div class="thumbcaption">
        The Apothecary or The Chemist by <a href="/wiki/Gabri%C3%ABl_Metsu" title="Gabriël Metsu">Gabriël Metsu</a> (c.
        1651–67)
      </div>
    </div>
  </div>
  <div>
    <p>The field of pharmacy can generally be divided into three primary disciplines:</p>
    <ul>
      <li>Pharmaceutics</li>
      <li>Pharmacokinetics</li>
      <li>Pharmacokinetics</li>
      <li>Pharmacy Practice</li>
    </ul>
    <p>
      The boundaries between these disciplines and with other sciences, such as biochemistry, are not always
      clear-cut. Often, collaborative teams from various disciplines (pharmacists and other scientists) work together
      toward the introduction of new therapeutics and methods for patient care. However, pharmacy is not a basic or
      biomedical science in its typical form. Medicinal chemistry is also a distinct branch of synthetic chemistry
      combining pharmacology, organic chemistry, and chemical biology.
    </p>
    <p>
      Pharmacology is sometimes considered the fourth discipline of pharmacy. Although pharmacology is essential to
      the study of pharmacy, it is not specific to pharmacy. Both disciplines are distinct. Those who wish to practice
      both pharmacy (patient-oriented) and pharmacology (a biomedical science requiring the scientific method) receive
      separate training and degrees unique to either discipline.
    </p>
    <p>
      Pharmacoinformatics is considered another new discipline, for systematic drug discovery and development with
      efficiency and safety.
    </p>
    <p>
      Pharmacogenomics is the study of genetic-linked variants that effect patient clinical responses, allergies, and
      metabolism of drugs.
    </p>
  </div>
</div>
<h1>Pharmacy support staff</h1>
<hr>
<div class="container">
  <div class="container-branch">
    <div class="thumbinner" style="width:276px;">
      <img alt=""
           src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Medicin_man.jpg/274px-Medicin_man.jpg"
           decoding="async"
           width="274"
           height="184"
           class="thumbimage"
      >
      <div class="thumbcaption">
        <div class="magnify"><a href="/wiki/File:Medicin_man.jpg" class="internal" title="Enlarge"></a></div>
        A pharmacy worker distributing drugs to an old women at a local clinic.
      </div>
    </div>
  </div>
  <div>
    <p>
      Pharmacy technicians support the work of pharmacists and other health professionals by performing a variety of
      pharmacy-related functions, including dispensing prescription drugs and other medical devices to patients and
      instructing on their use. They may also perform administrative duties in pharmaceutical practice, such as
      reviewing prescription requests with medic's offices and insurance companies to ensure correct medications are
      provided and payment is received.
    </p>
    <p>
      Legislation requires the supervision of certain pharmacy technician's activities by a pharmacist. The majority of
      pharmacy technicians work in community pharmacies. In hospital pharmacies, pharmacy technicians may be managed by
      other senior pharmacy technicians. In the UK the role of a PhT in hospital pharmacy has grown and responsibility
      has been passed on to them to manage the pharmacy department and specialized areas in pharmacy practice allowing
      pharmacists the time to specialize in their expert field as medication consultants spending more time working with
      patients and in research. Pharmacy technicians are registered with the General Pharmaceutical Council (GPhC). The
      GPhC is the regulator of pharmacists, pharmacy technicians, and pharmacy premises.
    </p>
    <p>
      In the US, pharmacy technicians perform their duties under the supervision of pharmacists. Although they may
      perform, under supervision, most dispensing, compounding and other tasks, they are not generally allowed to
      perform the role of counseling patients on the proper use of their medications. Some states have a legally
      mandated pharmacist-to-pharmacy technician ratio.
    </p>
  </div>
</div>

